@charset "utf-8";
@import "./sources/0.9.4/bulma/bulma.sass";

$font-stack: Helvetica, sans-serif;
$primary-color: #008B95;

:root {
  color: $primary-color;
  font: 100% $font-stack;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 16px solid #008B95;
  height: 80px;
  background: #FFFFFF;
  border-bottom: 1px solid #FCEBCC;
}


.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 86px;
  background: #FFFFFF;
}
