@charset "utf-8";
@import "./sources/0.9.4/bulma/bulma.sass";

$font-stack: Helvetica, sans-serif;
$primary-color: #008B95;

:root {
  color: $primary-color;
  font: 100% $font-stack;
}

.flex_wrapper {
  min-height: 100vh;
  justify-content: space-between;
}

.navbar_container {
  flex-direction: row;
  align-items: center;
  border-top: 16px solid #008B95;
  height: 80px;
  background: #FFFFFF;
  border-bottom: 1px solid #FCEBCC;
}

.section_wrapper {
  justify-content: space-between;
  flex: 1;
}

.footer_container {
  flex-direction: row;
  align-items: center;
  height: 86px;
  background: #FFFFFF;
}

.styled_card{
  max-width: 384px;
  background: #EBF5EE;
}
