@charset "UTF-8";
div.container {
	display: grid;
	align-content: end;
	justify-content: stretch;
  grid-template: "a b c" 1fr / 150px 1fr 150px;
}
div.container > .lside{
	grid-area: a;
	align-self: stretch;
}
div.container > .midsection{
	grid-area: b;
	align-self: end;
}
div.container > .rside{
	grid-area: c;
	align-self: stretch;
}
@supports not (grid-template-areas:"test"){
	div.container{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	div.container > *{
		position: absolute;
		box-sizing: border-box;
	}

	div.container > .lside{
		height: 100%;
		width: 150px;
		top: 0;
		left: 0;
	}

	div.container > .midsection{
		max-height: 100%;
		width: calc(100% - 300px);
		bottom: 0;
		left: 150px;
	}

	div.container > .rside{
		height: 100%;
		width: 150px;
		top: 0;
		left: calc(-150px + 100%);
	}
}
@media screen and (min-width:0\0){
	div.container{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	div.container > *{
		position: absolute;
		box-sizing: border-box;
	}

	div.container > .lside{
		height: 100%;
		width: 150px;
		top: 0;
		left: 0;
	}

	div.container > .midsection{
		max-height: 100%;
		width: calc(100% - 300px);
		bottom: 0;
		left: 150px;
	}

	div.container > .rside{
		height: 100%;
		width: 150px;
		top: 0;
		left: calc(-150px + 100%);
	}
}

div.midsection {
	display: grid;
	align-content: stretch;
	justify-content: space-between;
  grid-template: "a " 50px "c" 1fr "d " 40px / 1fr;
}

div.midsection > header{
	grid-area: a;
	justify-self: center;
}

div.midsection > .conversation{
	grid-area: c;
	justify-self: stretch;
	align-self: stretch;
}

div.midsection > footer{
	grid-area: d;
	justify-self: center;
	align-self: end;
}

@supports not (grid-template-areas:"test"){
	div.midsection{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	div.midsection > *{
		position: absolute;
		box-sizing: border-box;
	}

	div.midsection > header{
		transform: translateX(-50%);
		height: 50px;
		max-width: 100%;
		top: 0;
		left: 50%;
	}

	div.midsection > .conversation{
		height: calc(100% - 90px);
		width: 100%;
		top: 50px;
		left: 0;
	}

	div.midsection > footer{
		transform: translateX(-50%);
		max-height: 40px;
		max-width: 100%;
		bottom: 0;
		left: 50%;
	}
}

@media screen and (min-width:0\0){
	div.midsection{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	div.midsection > *{
		position: absolute;
		box-sizing: border-box;
	}

	div.midsection > header{
		transform: translateX(-50%);
		height: 50px;
		max-width: 100%;
		top: 0;
		left: 50%;
	}

	div.midsection > .conversation{
		height: calc(100% - 90px);
		width: 100%;
		top: 50px;
		left: 0;
	}

	div.midsection > footer{
		transform: translateX(-50%);
		max-height: 40px;
		max-width: 100%;
		bottom: 0;
		left: 50%;
	}
}